/* Geral */

*  {
    margin:0;
    padding:0;
}

html, body {height:100%;}


ul, li {
    list-style: none;
}

/* Subtitulo */
.subtitulo {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    letter-spacing: .1em;
    margin-top: 30px;
    margin-bottom: 40px;
}

.subtitulo:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background: #000;
    margin: 8px auto;
}

/* nav */
.menu {
    width: 100%;
    background-color: #1A1C27 !important;
}

.logo {
    color: #fff !important;
    font-size: 24px;
    font-weight: bold;
}

a {
    text-decoration: none;
}


/* footer */
footer {
    width: 100%;
    color: #fff;
    background-color: #1A1C27;
    font-weight: bold;
}


footer p {
    margin-top: 15px;
}