{% extends 'base.html' %}

{% block title %}
    Adicione um usuário
{% endblock title %}


{% block content %}
    <div class="offset-1 col-10">
        <h1 class="subtitulo">Add new user</h1>
        <form action="" method="post" class="col-md-6 ">
            {% csrf_token %}
            {{form.as_p}}
            <div >
                 <button type="submit" class="btn btn-primary mt-2">Save</button>
                <a href="{% url 'listUser' %}" class="btn btn-danger mt-2">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
    
    